<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <% if (user) { %>
        <h1>Welcome, <%= user.name %></h1>
        <img src="<%= user.avatar %>" alt="User Avatar">
        <a href ="api/logout">Logout</a>
    <% } else { %>
        <p>You are not logged in.</p>
        <a href="/api/auth/steam">Login</a>
    <% } %>
</body>
</html>
